@import "tailwindcss";
:root {
  --font-orbitron: 'Orbitron', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  /* SMOOTH GLASSY GRADIENT: No stars, just deep, rich color */
  background: radial-gradient(circle at 50% 50%, #280b57 0%, #000000 80%);
  color: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background: #180735;
  border-radius: 4px;
}